[Unit]
Description=Stack4Things Lightning-Rod
After=network.target

[Service]
Type=simple
User=root
Group=root
StandardInput=null
StandardOutput=journal
StandardError=journal
WorkingDirectory=/usr/lib/node_modules/iotronic-lightning-rod
Environment="NODE_PATH=/usr/lib/node_modules"
ExecStart=/usr/bin/node /usr/lib/node_modules/iotronic-lightning-rod/lightning-rod.js
Restart=always

[Install]
WantedBy=multi-user.target
